<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/frameworksizespace.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="root">

        <div class="app-container w-100 vh-100 d-flex flex-column justify-content-center align-items-center">
            
            <div class="input_wrapper w-25 d-flex justify-content-between align-items-center">
                <input @keyup.enter="addItem" v-model="inputValue" type="text" class="form-control w-100" placeholder="Type here">
                <button @click="addItem" class="btn btn-success">Add</button>
            </div>
            

            <ul class="todos_list d-flex flex-column">
                <li @click="reverseItem(todoElement)" v-for="(todoElement, todoIndex) in thingsToDo" class="list_item bg-success border border-2 border-dark p-1" :class="{'done': todoElement.done}">{{todoElement.toDo}} <i @click="removeItem(todoIndex)" class="fas fa-times bg-danger p-1 ms-2"></i></li>
            </ul>

        </div>

    </div>
    
    <script type="text/javascript" src="js/check-functions.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>